* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0a0a0a;
    font-family: "Courier New", monospace;
    color: #d0d0d0;
}

/* PAGE LOGIN */
.centered-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 420px;
    padding: 40px;
    background: #111;
    border: 1px solid #222;
}

.login-container h1 {
    font-size: 22px;
    letter-spacing: 4px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.subtitle {
    font-size: 11px;
    color: #666;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

input {
    background: #0f0f0f;
    border: 1px solid #222;
    padding: 12px;
    margin-bottom: 15px;
    color: #ccc;
    font-family: monospace;
}

input:focus {
    outline: none;
    border-color: #5c0a0a;
}

button {
    background: #141414;
    border: 1px solid #5c0a0a;
    color: #ccc;
    padding: 12px;
    cursor: pointer;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 12px;
}

button:hover {
    background: #1c1c1c;
}

/* DASHBOARD */
.dashboard {
    padding: 50px;
    max-width: 1100px;
    margin: auto;
}

.dashboard h1 {
    font-size: 18px;
    letter-spacing: 4px;
    margin-bottom: 40px;
    border-bottom: 1px solid #222;
    padding-bottom: 15px;
}

/* CARTES */
.card,
.target-card {
    background: #101010;
    border: 1px solid #1e1e1e;
    padding: 25px;
    margin-bottom: 30px;
    transition: 0.2s;
}

.card:hover,
.target-card:hover {
    border-color: #5c0a0a;
}

.target-card {
    display: flex;
    gap: 25px;
}

.target-image {
    width: 160px;
    height: 200px;
    object-fit: cover;
    filter: grayscale(40%);
}

.target-info h2 {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.target-info h3 {
    font-size: 12px;
    color: #777;
    margin-top: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.target-info p {
    font-size: 13px;
    color: #aaa;
}

.stars {
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #b33;
}

.priority-5 {
    border-color: #5c0a0a;
}

/* GAME */
.game-container {
    text-align: center;
    padding-top: 40px;
}

canvas {
    border: 1px solid #5c0a0a;
    display: block;
    margin: 20px auto;
}

.controls {
    font-size: 11px;
    color: #666;
}
