* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global */
body {
    background-color: #0b0b0b;
    font-family: 'Segoe UI', sans-serif;
    color: #e6e6e6;
}

/* Seulement pour la page login */
.centered-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #1a1a1a 0%, #0b0b0b 80%);
    z-index: -1;
}

.login-container {
    width: 400px;
    padding: 40px;
    background-color: rgba(20, 20, 20, 0.85);
    border: 1px solid #2a2a2a;
    border-radius: 6px;
    text-align: center;
    backdrop-filter: blur(5px);
}

h1 {
    letter-spacing: 6px;
    font-weight: 300;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    color: #888;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: #111;
    border: 1px solid #2c2c2c;
    padding: 12px;
    margin-bottom: 15px;
    color: #e6e6e6;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #7a0000;
}

button {
    background-color: #1a1a1a;
    border: 1px solid #7a0000;
    color: #e6e6e6;
    padding: 12px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s;
}

button:hover {
    background-color: #7a0000;
}

.warning {
    font-size: 11px;
    margin-top: 25px;
    color: #666;
}

/* Dashboard */
.dashboard {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

/* Cartes générales */
.card {
    background: #151515;
    padding: 30px;
    border: 1px solid #2a2a2a;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    border-color: #7a0000;
}

.locked {
    filter: blur(2px);
    opacity: 0.6;
}

/* Game */
.game-container {
    text-align: center;
    padding-top: 40px;
}

canvas {
    border: 2px solid #7a0000;
    display: block;
    margin: 20px auto;
}

.controls {
    font-size: 12px;
    color: #777;
}

/* Fiches recherchés */

.target-card {
    display: flex;
    gap: 30px;
    background: #151515;
    padding: 25px;
    margin-bottom: 30px;
    border: 1px solid #2a2a2a;
    transition: 0.3s;
}

.target-card:hover {
    border-color: #7a0000;
}

.target-image {
    width: 180px;
    height: 220px;
    object-fit: cover;
    border: 1px solid #333;
}

.target-info h2 {
    margin-bottom: 10px;
}

.target-info h3 {
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #c79a2b;
}

.target-info p {
    margin-bottom: 8px;
    color: #bbb;
    font-size: 14px;
}

.stars {
    font-size: 20px;
    color: #c79a2b;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.priority-label {
    font-size: 12px;
    letter-spacing: 2px;
    color: #888;
    margin-bottom: 15px;
}

.priority-5 {
    border-color: #7a0000;
    box-shadow: 0 0 20px rgba(122,0,0,0.2);
}
